<h1>Penetration Stage</h1>

<ul>
    <li><a asp-controller="Stage" asp-action="Reconnaissance">Reconnaissance</a></li>
    <li><a href="Exploitation/Index">Exploitation</a></li>
    <li><a href="Privilege Escalation/Index">Privilege Escalation</a></li>
    <li><a href="Post-Exploitation/Index">Post-Exploitation</a></li>
</ul>