<h1>Penetration Stage</h1>

<ul>
    <li><a asp-controller="Stage" asp-action="ToolOrTech" asp-route-ThreadCategory="0">Reconnaissance</a></li>
    <li><a asp-controller="Stage" asp-action="ToolOrTech" asp-route-ThreadCategory="1">Exploitation</a></li>
    <li><a asp-controller="Stage" asp-action="ToolOrTech" asp-route-ThreadCategory="2">Privilege Escalation</a></li>
    <li><a asp-controller="Stage" asp-action="ToolOrTech" asp-route-ThreadCategory="3">Post-Exploitation</a></li>
</ul>