<h1>Penetration Stage</h1>

<a asp-controller="Stage" asp-action="Reconnaissance">Reconnaissance</a>
<a href="Exploitation/Index">Exploitation</a>
<a href="Privilege Escalation/Index">Privilege Escalation</a>
<a href="Post-Exploitation/Index">Post-Exploitation</a>
