

<h1>Stage - Reconnaissance</h1>
<ul>
    <li><a asp-controller="PTHThreads" asp-action="Index" asp-route-ThreadCategory="@ViewBag.ThreadCategory" asp-route-ToolOrTech="Tool">Tool</a></li>
    <li><a asp-controller="PTHThreads" asp-action="Index" asp-route-ThreadCategory="@ViewBag.ThreadCategory" asp-route-ToolOrTech="Tech">Technique</a></li>
</ul>