


    @if (Context.Request.Path.ToString().Length >= 7 && Context.Request.Path.ToString().Substring(0, 7) == "/Donate")
    {
        <li class="nav-item">
            <a asp-controller="Donate" asp-action="Cart" class="nav-link cart-img"><img src="~/img/cart.svg" width="42" height="35" /></a>
        </li>
        <li class="nav-item">
            <div id="cart-item-quantity">0</div>
        </li>
    }
