@model Penetration_Testing_Hub.Models.PTHPost

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PTHPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OP" class="control-label"></label>
                <input asp-for="OP" class="form-control" />
                <span asp-validation-for="OP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostTime" class="control-label"></label>
                <input asp-for="PostTime" class="form-control" />
                <span asp-validation-for="PostTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostFileName" class="control-label"></label>
                <input asp-for="PostFileName" class="form-control" />
                <span asp-validation-for="PostFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PTHThreadId" class="control-label"></label>
                <select asp-for="PTHThreadId" class="form-control" asp-items="ViewBag.PTHThreadId"></select>
                <span asp-validation-for="PTHThreadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
