/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}


.logo {
    color: white !important;
}


/*----- Cart vector -----*/
.cart-img {
    background-color: lightgray;
    border-radius: 15px;
    padding: 9px 18px;
    position: absolute;
    right: 66.6px;
    top: 500px;
}

#cart-item-quantity {
    font-weight: 700;
    color: darkred;
    position: absolute;
    right: 69px;
    top: 530px;
}

.money-total {
    color: darkred;
    font-size: 1.6em;
    margin-top: 2em;
    margin-bottom: 2em
}


/*--------- Credential Form -----------*/
.cred-form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.cred-title {
    text-align: center;
}
.cred-subtitle {
    text-align: center;
}
.cred-hint {
    font-size: 0.8em;
}
.cred-remember-me {
    margin-left: 1em;
}