/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}


.logo {
    color: white !important;
}

.cart-img {
    background-color: lightgray;
    border-radius: 15px;
    padding: 9px 18px;
    position: absolute;
    right: 268.6px;
    top: 13px;
}

#cart-item-quantity {
    position: absolute;
    right: 272px;
    top: 30px;
    font-weight: 700;
    color: darkred;
}