
@section Styles {
    <link href="~/css/product-page.css" rel="stylesheet">
}


@section Scripts
{
    <script src="~/js/cart.js"></script>
}

<h1>Clothes</h1>

<div class="goods-container-checkout">
    <div class="good-container-checkout">
        <div>Title</div>
        <div>Image</div>
        <div>Price for Each</div>
        <div>Quantity</div>
    </div>
</div>
<div name="Total" class="money-total"></div>

<a asp-controller="Donate" asp-action="Create" class="btn btn-primary">Check Out</a>
<a asp-controller="Donate" asp-action="SupportCommunity" asp-route-CategoryId="-1">Go back</a>

