
<h1>Buy to Support me</h1>

<ul>
    <li><a asp-controller="Donate" asp-action="ForMe" asp-route-CategoryId="1">Drink</a></li>
    <li><a asp-controller="Donate" asp-action="ForMe" asp-route-CategoryId="2">Food</a></li>
</ul>

<div>
    <a asp-controller="Donate" asp-action="Index">Go Back</a>
</div>