
<h1>Buy to Support Community</h1>

<a asp-controller="Donate" asp-action="SupportCommunity" asp-route-CategoryId="3">Clothes</a>
<a asp-controller="Donate" asp-action="SupportCommunity" asp-route-CategoryId="4">Utensils</a>
<a asp-controller="Donate" asp-action="Index">Go Back</a>
