
<h1>Buy to Support Community</h1>

<ul>
    <li><a asp-controller="Donate" asp-action="SupportCommunity" asp-route-CategoryId="3">Clothes</a></li>
    <li><a asp-controller="Donate" asp-action="SupportCommunity" asp-route-CategoryId="4">Utensils</a></li>
</ul>

<div>
    <a asp-controller="Donate" asp-action="Index">Go Back</a>
</div>