
@section Styles {
    <link rel="stylesheet" href="~/css/product-page.css">
}


@section Scripts
{
    <script src="~/js/quantity.js"></script>
}

<h2>Utensils</h2>

<div class="goods-container">
    <div class="good-container" id="utensil-mug-itemId">
        <div>PTH Mug</div>
        <div><img src="~/img/pth-donate-img/PTH-Mug.jpg" width="150" height="170" /></div>
        <div class="good-quantity"></div>
        <div class="good-price">10 CAD</div>
        <div><button type="submit" class="btn btn-primary add-to-cart-button">Add to Cart</button></div>
    </div>
</div>

<a asp-controller="Donate" asp-action="SupportCommunity" asp-route-CategoryId="-1">Go back</a>

